<div id="maincol">
  <div id="top_section"><%=@title%></div>
  <div id="body_section">
    <div id="contenido">
      <%= render :partial => 'form' %>
    </div>
  </div>
  <div id="bottom_section"></div>
</div>

