<div id="maincol">
  		<div id="top_section">
  		  <div id="wrapper" class="clearfix" >
    			<div id="tituloNoticia">
      				<span id="titulo">¿Quiénes somos?</span>
        		</div>
          </div>
      	</div>
      <div id="body_section">
      		<p id="contenido">
      			SAITC es un grupo de alumnos de la carrera ITC, y tenemos como meta fomentar el progreso de la carrera de Ingeniería en Tecnologías Computacionales, alcanzando la integración de todos sus miembros, logrando el desarrollo de sus capacidades académicas y complementarlas con experiencias extra-académicas, con el fin de poner el nombre de la carrera en alto, dentro y fuera de la Institución.
      		</p><br></br>
      </div>
	<div id="bottom_section"></div>
	
  		<div id="top_section">
		  <div id="wrapper" class="clearfix" >
    			<div id="tituloNoticia">
      				<span id="titulo">Misión</span>
        		</div>
          </div>
      	</div>
      <div id="body_section">
      		<p id="contenido">
      			Al finalizar el período 2010-2011, SAITC será el grupo estudiantil más reconocido por el éxito de sus eventos de carácter comunitario, académico y de integración; además de la plena satisfacción de todos los miembros que la conforman, siendo estos directivos, maestros y alumnos relacionados con la carrera.
      		</p><br></br>
      </div>
	<div id="bottom_section"></div>

  		<div id="top_section">
		  <div id="wrapper" class="clearfix" >
    			<div id="tituloNoticia">
      				<span id="titulo">Integrantes</span>
        		</div>
          </div>
      	</div>
      <div id="body_section">
      		<p id="contenido">
				Presidente:				
				Miguel Angel Cervera

				Vicepresidenta:				
				Luz Nangullasmú

				Coordinador General:			
				Braulio Chávez

				Secretario:				
				Juan José Rodríguez
				
				Tesorera:
				Verónica González

				Campañas Financieras y Filantropía:	
				Alan Gandarilla

				Prevención y Logística:			
				Daniel Fernández

				Acciones por México:			
				Roberto Plancarte
      		</p><br></br>
      </div>
	<div id="bottom_section"></div>
</div>
