<div id="maincol">
  <div id="top_section">Calendario de Actividades SAITC</div>
  <div id="body_section">
    <div id="contenido">
      <!-- Calendario de Actividades-->
      <iframe src="https://www.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=558&amp;wkst=1&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=4ki97k1f91iedfbhugunh710m4%40group.calendar.google.com&amp;color=%230D7813&amp;ctz=America%2FMexico_City" style=" border-width:0 " width="558" height="558" frameborder="0" scrolling="no"></iframe>
      <!--Termina el calendario de actividades-->
    </div>
  </div>
  <div id="bottom_section"></div>
</div>
