<div id="maincol">
  <div id="top_section">Galería de Fotos</div>
  <div id="body_section">
    <div id="contenido">
      <!-- Galeria de fotos-->
      <img style="visibility:hidden;width:0px;height:0px;" border=0 width=0 height=0 src="http://counters.gigya.com/wildfire/IMP/CXNID=2000002.11NXC/bT*xJmx*PTEyNzk2NTQ5MjU1NzUmcHQ9MTI3OTY1NDkzMDY2NSZwPTkwMjA1MSZkPSZnPTEmb2Y9MA==.gif" /><object id="ci_00975_o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="248"><param name="movie" value="http://apps.cooliris.com/embed/cooliris.swf"/><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><param name="bgColor" value="#121212" /><param name="flashvars" value="feed=api%3A%2F%2Fpicasaweb.google.com%2F%3Fuser%3D103133118101455312479%26album%3DSAITC&backgroundcolor=%23191d25&glowcolor=%23BABABA&showsearch=true&showchrome=true" /><param name="wmode" value="opaque" /><embed id="ci_00975_e" type="application/x-shockwave-flash" src="http://apps.cooliris.com/embed/cooliris.swf" width="558" height="400" allowFullScreen="true" allowScriptAccess="always" bgColor="#121212" flashvars="feed=api%3A%2F%2Fpicasaweb.google.com%2F%3Fuser%3D103133118101455312479%26album%3DSAITC&backgroundcolor=%23191d25&glowcolor=%23BABABA&showsearch=true&showchrome=true" wmode="opaque"></embed></object>
      <!--Termina la galeria de fotos-->
    </div>
  </div>
</div>
