 <%# ...\views\contact_mailer\contact_message.rhtml -%>
Contact from my web site.
========================================
User: <%=@name -%>
Email: <%=@email_address -%>
Message:
----------------------------------------
<%=@message -%>
----------------------------------------
Generated at <%=Time.now.to_s -%>
